<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Static Application Context Provider -->
	<bean id="contextApplicationContextProvider" class="org.hydra.spring.ApplicationContextProvider" />  

	<!-- Text Resources object -->
	<bean id="_text_manager" class="org.hydra.text.TextManager">
		<!-- Defaults -->
		<property name="basename">
			<value>messages</value>
		</property>
		<property name="locale">
			<value>ru</value>
		</property>
	</bean>
	
	<!-- Hydra statistics object -->
	<bean id="_statisticsCollector" class="org.hydra.collectors.StatisticsCollector"/>

	<!-- Executor Bean -->
	<bean id="_chached_thead_pool" class="org.hydra.executors.Executor">
		<property name="name" value="Main Executor" />
	</bean>

	<!-- Processing messages -->
	<bean id="_main_input_pipe_" class="org.hydra.pipes.Pipe">
		<property name="name" value="Pipe1" />
		<property name="processors">
			<list>
				<ref bean="Processor1.1" />
				<ref bean="Processor1.2" />
				<ref bean="Processor1.3" />
			</list>
		</property>
		<property name="statisticsCollector">
			<ref bean="_statisticsCollector"/>
		</property>
	</bean>
	
	<!-- Doesn't work if we have several Hadlers here -->
	<bean id="Processor1.1" class="org.hydra.processors.Processor">
		<property name="name" value="Processor1.1" />
		<property name="executor">
			<ref bean="_chached_thead_pool" />
		</property>
		<property name="messageCollector">
			<ref bean="_main_message_collector" />
		</property>
		<property name="statisticsCollector">
			<ref bean="_statisticsCollector"/>
		</property>
	</bean>
	
	<bean id="Processor1.2" class="org.hydra.processors.Processor">
		<property name="name" value="Processor1.2" />
		<property name="executor">
			<ref bean="_chached_thead_pool" />
		</property>
		<property name="messageCollector">
			<ref bean="_main_message_collector" />
		</property>
		<property name="statisticsCollector">
			<ref bean="_statisticsCollector"/>
		</property>
	</bean>	
	
	<bean id="Processor1.3" class="org.hydra.processors.Processor">
		<property name="name" value="Processor1.3" />
		<property name="executor">
			<ref bean="_chached_thead_pool" />
		</property>
		<property name="messageCollector">
			<ref bean="_main_message_collector" />
		</property>
		<property name="statisticsCollector">
			<ref bean="_statisticsCollector"/>
		</property>
	</bean>		
	
	<!-- Messages Collector for all sessions -->
	<bean id="_main_message_collector" class="org.hydra.collectors.MessagesCollector">
		<property name="name" value="Simple Message Collector" />
	</bean>
</beans>
